<div class="contact" id="contact">
  <div class="center-text">
      <h2>Contact <span>Me</span></h2>
  </div>
  <div class="contact-form">
      <form action="">
          <input type="text" placeholder="Your Name" required>
          <input type="email" placeholder="Email Address" required>
          <input type="text" placeholder="Subject" required>
          <textarea name="" id="" cols="30" rows="10" placeholder="Write Message Here ..." required></textarea>
          <input type="submit" name="" value="Send Message" class="d-flex send-btn">
      </form>
  </div>
</div>
