<div class="portfolio" id="portfolio">
  <div class="center-text">
      <h2>My <span>Portfolio</span></h2>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 mt-4" *ngFor="let item of items;  let i = index">
            <div class="card" *ngIf="showAllItems || i <6">
              <img src="../../../assets/images/port-3.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.description}}</p>
                <!-- <h6>Technologies : </h6> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn" (click)="toggleAllItems()">{{ getButtonText() }}</button>
  </div>
</div>
