<div class="about" id="about">
  <div class="container">
    <div class="description">
      <div class="about-img">
        <img src="../../../assets/images/hetti1.jpg" alt="">
      </div>
      <div class="about-text">
        <h2>I am a <span>Full-stack Developer</span></h2>
        <div class="exp-area">
          <p class="exp">
            Experience:
            <span>8 Months</span>
          </p>
          <p class="exp">
            Email:
            <span>nipunahettiwatta@gmail.com</span>
          </p>
          <p class="exp">
            Address:
            <span>204/c, School Lane, Galagedara, Padukka</span>
          </p>
          <p class="exp">
            Phone-number:
            <span>0705838169</span>
          </p>
          </div>
      </div>
    </div>
  </div>
</div>

<app-resume></app-resume>
<app-skills></app-skills>
