<div class="about" id="about">
  <!-- <div class="center-text">
    <h2>About <span>Me</span></h2>
  </div> -->
  <div class="about-img">
    <img src="../../../assets/images/hetti1.jpg" alt="">
</div>
<div class="about-text">
    <h2>I am a <span>Full-stack Developer</span></h2>
    <div class="exp-area">
        <p class="exp">
            Experience:
            <span>7 Months  </span>
        </p>
        <p class="exp">
            Email:
            <span>abchetti@gmail.com</span>
        </p>
        <p class="exp">
            Address:
            <span>23/c, Temple Road, Padukka</span>
        </p>
        <p class="exp">
            Phone-number:
            <span>011-23456789</span>
        </p>
    </div>
</div>
</div>
