<div class="resume" id="resume">
  <div class="center-text">
    <h2>My <span>Resume</span></h2>
    <div class="resume-content">

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Experience</h3>
            <div class="resume-item pb-0">
              <h4>Creative Software</h4>
              <ul>
                <li>413 R. A. De Mel Mawatha, Colombo</li>
                <li>8 month internship as a Software Engineer</li>
              </ul>
            </div>
          </div>

          <div class="col-lg-6">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>BSc. (Hons) in Information Technology</h4>
              <ul>
                <li>University of Moratuwa, Sri Lanka </li>
                <li>Reading 4th year </li>
                <li>GPA 3.62 (up to level 1)</li>
              </ul>
              <br>

            </div>
            <div class="resume-item">
              <h4>G.C.E Advanced Level 2018 Physical Science Stream</h4>
              <ul>
                <li>D. S. Senanayake College - Colombo 7</li>
                <li>2A's, 1B (B for Physics) z-core 1.7213</li>
              </ul>
              <br>
            </div>
            <div class="resume-item">
              <h4>G.C.E Ordinary Level 2015</h4>
              <ul>
                <li>D. S. Senanayake College - Colombo 7</li>
                <li>8A's, 1B</li>
              </ul>
            </div>

          </div>
        </div>
    </div>
  </div>
</div>


