<div class="home" id="home">
  <div class="main-content container">
    <h4>Hi, There !</h4>
    <h1>I'm <span>Nipuna Hettiwatta</span></h1>
    <p>{{this.description}}</p>
    <div class="social">
        <a href="https://github.com/nipuna-bhanuka"><i class="ri-github-fill"></i></a>
        <a href="#"><i class="ri-stack-fill"></i></a>
        <a href="#"><i class="ri-twitter-fill"></i></a>
        <a href="#"><i class="ri-youtube-fill"></i></a>
    </div>

    <div class="main-btn d-flex">
        <a href="#contact" class="btn">Hire me</a>
        <a href="" class="btn btn2">Download CV</a>
    </div>
</div>
</div>
