<div class="skills" id="skills">
  <div class="center-text">
    <h2>My <span>Skills</span></h2>
    <div class="skills-content">

      <div class="row">
        <h3 class="skills-title">Programming Languages</h3>
          <div class="logo-container">
            <div class="logo-item">
              <img src="../../../../assets/images/c.png" alt="Logo 1">
            </div>
            <div class="logo-item">
              <img src="../../../../assets/images/Python.png" alt="Logo 1">
            </div>
            <div class="logo-item">
              <img src="../../../../assets/images/csharp.png" alt="Logo 1">
            </div>
            <div class="logo-item">
              <img src="../../../../assets/images/java.png" alt="Logo 1">
            </div>
            <div class="logo-item">
              <img src="../../../../assets/images/JavaScript.png" alt="Logo 1">
            </div>
            <div class="logo-item">
              <img src="../../../../assets/images/ts.png" alt="Logo 1">
            </div>
          </div>
      </div>

      <div class="row">
        <h3 class="skills-title">Web Development</h3>
        <div class="logo-container">
          <div class="logo-item">
            <img src="../../../../assets/images/angular.png" alt="Logo 1">
          </div>
          <div class="logo-item">
            <img src="../../../../assets/images/NETCore.png" alt="Logo 1">
          </div>
          <div class="logo-item">
            <img src="../../../../assets/images/spring-boot-logo.png" alt="Logo 1">
          </div>
        </div>
      </div>
      <div class="row">
        <h3 class="skills-title">Databases</h3>
        <div class="logo-container">
          <div class="logo-item">
            <img src="../../../../assets/images/MySQL-Logo.png" alt="Logo 1">
          </div>
          <div class="logo-item">
            <img src="../../../../assets/images/mssql.png" alt="Logo 1">
          </div>
          <div class="logo-item">
            <img src="../../../../assets/images/mongodb.png" alt="Logo 1">
          </div>
        </div>
      </div>
      <div class="row">
        <h3 class="skills-title">Tools</h3>
        <div class="logo-container">
          <div class="logo-item">
            <img src="../../../../assets/images/postman.png" alt="Logo 1">
          </div>
          <div class="logo-item">
            <img src="../../../../assets/images/git-icon.png" alt="Logo 1">
          </div>
          <div class="logo-item">
            <img src="../../../../assets/images/jmeter.png" alt="Logo 1">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
