@import url('../../../../styles.scss');

span{
  color: var(--main-color);
}
.skills{
  color: var(--text-color);
  padding: 0px 16% 90px;
  background: var(--second-bg-color);
  display: grid;
  align-items: center;
  gap: 1rem;

  .skills-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
  }
}
.row{
  justify-content: space-between;
}

.center-text h2{
  text-align: center;
  font-size: var(--h2-front);
}

.logo-container {
  display: flex;
  justify-content: center;
  padding: 0px 20px;
}

.logo-item {
  width: 18%;
  margin-bottom: 20px;
  text-align: center;
  padding: 30px;
}

.logo-item img {
  max-width: 100%;
  height: auto;
}
